adf-hr-analytics/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-hr-analytics"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_azure_sql_reatil_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_azure_sql_reatil_db'"
		},
		"LS_ADLSGen2_Landing_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sahara82.dfs.core.windows.net/"
		},
		"LS_AzureSQLDatabase_Metadata_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-server-azure81.database.windows.net"
		},
		"LS_AzureSQLDatabase_Metadata_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db-sql-hr"
		},
		"LS_HttpSource_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sahara82.blob.core.windows.net/external-sources/"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sachainproject.dfs.core.windows.net/"
		},
		"ls_azure_sql_reatil_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "retail-db-server-india.database.windows.net"
		},
		"ls_azure_sql_reatil_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "source-retail-orders"
		},
		"ls_azure_sql_reatil_db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vr_admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLSGen2_Landing')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLSGen2_Landing_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQLDatabase_Metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQLDatabase_Metadata_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQLDatabase_Metadata_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HttpSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_HttpSource_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_sql_reatil_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azure_sql_reatil_db_properties_typeProperties_server')]",
					"database": "[parameters('ls_azure_sql_reatil_db_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azure_sql_reatil_db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_azure_sql_reatil_db_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Landing_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_Landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"target_folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().target_folder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_Landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Landing_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_Landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"target_folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().target_folder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_Landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Landing_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLSGen2_Landing",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"target_folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().target_folder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLSGen2_Landing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_MetadataDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDatabase_Metadata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "source_configs"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDatabase_Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_SourceTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDatabase_Metadata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDatabase_Metadata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Http_API_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HttpSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relative_url": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relative_url",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HttpSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTP_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HttpSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().folder_path",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HttpSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sinkFilename": {
						"type": "string"
					},
					"sinkDirectory": {
						"type": "string"
					},
					"sinkContainer": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().sinkFilename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().sinkDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().sinkContainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_reatil_db",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"database": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().database",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_reatil_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Metadata-driven ingestion pipeline pulling from API, SFTP, and SQL Server sources into ADLS Gen2 landing.",
				"activities": [
					{
						"name": "Lookup_Active_Sources",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.source_configs WHERE is_active = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSQL_MetadataDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Active_Source",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Active_Sources",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Active_Sources').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Route_By_Source_Type",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().source_type",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "API",
												"activities": [
													{
														"name": "Copy_API_Data",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "JsonSource",
																"storeSettings": {
																	"type": "HttpReadSettings",
																	"requestMethod": "GET"
																},
																"formatSettings": {
																	"type": "JsonReadSettings"
																}
															},
															"sink": {
																"type": "JsonSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "JsonWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_Http_API_Source",
																"type": "DatasetReference",
																"parameters": {
																	"relative_url": "@item().source_relative_path"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_ADLS_Landing_JSON",
																"type": "DatasetReference",
																"parameters": {
																	"target_folder": "@item().target_folder_path",
																	"file_name": "@concat(item().source_name, '_', utcnow('yyyyMMdd_HHmmss'), '.json')"
																}
															}
														]
													}
												]
											},
											{
												"value": "SFTP",
												"activities": [
													{
														"name": "Copy_SFTP_Data",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 1,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "SftpSource",
																"recurse": true,
																"modifiedDatetimeStart": {
																	"value": "@item().watermark_value",
																	"type": "Expression"
																}
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt",
																	"quoteChar": "\"",
																	"escapeChar": "\\",
																	"firstRowAsHeader": true
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_SFTP_Source",
																"type": "DatasetReference",
																"parameters": {
																	"folder_path": {
																		"value": "@item().source_relative_path",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_ADLS_Landing_CSV",
																"type": "DatasetReference",
																"parameters": {
																	"target_folder": {
																		"value": "@item().target_folder_path",
																		"type": "Expression"
																	},
																	"file_name": {
																		"value": "@concat(item().source_name, '_', utcnow('yyyyMMdd_HHmmss'), '.csv')",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "SQL_SERVER",
												"activities": [
													{
														"name": "Copy_SQL_Data",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "0.12:00:00",
															"retry": 1,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderQuery": {
																	"value": "@concat('SELECT * FROM ', item().source_relative_path, ' WHERE ', item().watermark_column, ' > ''', coalesce(item().watermark_value, '1900-01-01 00:00:00'), '''')",
																	"type": "Expression"
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "ParquetSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "ParquetWriteSettings"
																}
															},
															"enableStaging": false
														},
														"inputs": [
															{
																"referenceName": "DS_AzureSQL_SourceTable",
																"type": "DatasetReference",
																"parameters": {
																	"table_name": {
																		"value": "@item().source_relative_path",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "DS_ADLS_Landing_Parquet",
																"type": "DatasetReference",
																"parameters": {
																	"target_folder": {
																		"value": "@item().target_folder_path",
																		"type": "Expression"
																	},
																	"file_name": {
																		"value": "@concat(item().source_name, '_', utcnow('yyyyMMdd_HHmmss'), '.parquet')",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											}
										]
									}
								},
								{
									"name": "Update_Metadata_Watermark",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Route_By_Source_Type",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLDatabase_Metadata",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat('DECLARE @max_date VARCHAR(100);\nIF ''', item().source_type, ''' = ''SQL_SERVER''\nBEGIN\n    SELECT @max_date = CONVERT(VARCHAR(100), MAX(updated_at), 120) FROM ', item().source_relative_path, ';\n    IF @max_date IS NULL SET @max_date = ''', item().watermark_value, ''';\n    EXEC dbo.sp_update_watermark @SourceId = ', item().source_id, ', @NewWatermark = @max_date, @RunStatus = ''SUCCESS'';\nEND\nELSE\nBEGIN\n    EXEC dbo.sp_update_watermark @SourceId = ', item().source_id, ', @NewWatermark = ''', utcnow('yyyy-MM-dd HH:mm:ss'), ''', @RunStatus = ''SUCCESS'';\nEND')",
													"type": "Expression"
												}
											}
										],
										"scriptBlock": {
											"statements": [
												{
													"text": {
														"value": "@concat('DECLARE @max_date VARCHAR(100);\nIF ''', item().source_type, ''' = ''SQL_SERVER''\nBEGIN\n    SELECT @max_date = CONVERT(VARCHAR(100), MAX(updated_at), 120) FROM ', item().source_relative_path, ';\n    IF @max_date IS NULL SET @max_date = ''', item().watermark_value, ''';\n    EXEC dbo.sp_update_watermark @SourceId = ', item().source_id, ', @NewWatermark = @max_date, @RunStatus = ''SUCCESS'';\nEND\nELSE\nBEGIN\n    EXEC dbo.sp_update_watermark @SourceId = ', item().source_id, ', @NewWatermark = ''', utcnow('yyyy-MM-dd HH:mm:ss'), ''', @RunStatus = ''SUCCESS'';\nEND')",
														"type": "Expression"
													},
													"type": "Query"
												}
											]
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQLDatabase_Metadata",
											"type": "LinkedServiceReference"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-28T09:23:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_MetadataDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLDatabase_Metadata')]",
				"[concat(variables('factoryId'), '/datasets/DS_Http_API_Source')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Landing_JSON')]",
				"[concat(variables('factoryId'), '/datasets/DS_SFTP_Source')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Landing_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_SourceTable')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Landing_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingestion_sql_server')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from sql to adls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sql_source",
								"type": "DatasetReference",
								"parameters": {
									"database": {
										"value": "@pipeline().parameters.Database",
										"type": "Expression"
									},
									"table": {
										"value": "@pipeline().parameters.table",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_sink",
								"type": "DatasetReference",
								"parameters": {
									"sinkFilename": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									},
									"sinkDirectory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"sinkContainer": {
										"value": "@pipeline().parameters.container",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Database": {
						"type": "string"
					},
					"table": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					},
					"directory": {
						"type": "string"
					},
					"container": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-01T18:48:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_sink')]"
			]
		}
	]
}